.text-primary {
    color: rgb(240, 220, 110);
}
.text-secondary {
    color: rosybrown;
}
.text-light {
    color: white;
}

.header-bg-image {
    background-image: url(./assets/images/annie-spratt-R3LcfTvcGWY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: fantasy;
}
.container-padding {
    padding: 7rem 0;
}
.timing-bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/images/ash-edmonds-fsI-_MRsic0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 10rem 0rem;
}

.weekly-deals {
    background-image: url(./assets/images/alex-munsell-Yr4n8O_3UPc-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
.menu {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/images/ella-olsson-oPBjWBCcAEo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 10rem;
}
.gallery {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/images/louis-hansel-restaurant-photographer-phEaeqe555M-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem;
}
.online-reservation {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/images/brooke-lark-kXQ3J7_2fpc-unsplash.jpg);

    background-size: cover;
    background-position: center;
    padding: 10rem;
}
.contacts {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/images/lum3n-RYqO8DhPg68-unsplash.jpg);

    background-position: center;
    background-size: cover;
    padding: 10rem;
}
.contact-info {
    padding: 7rem 0rem;
    padding-bottom: 6rem;
}
.contact-form {
    padding: 10rem 0rem;
    background-color: burlywood;
}
.testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/images/neven-krcmarek-l9t8O7S7s18-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 10rem;
}
.testimonials h3 {
    font-family: "cursive";
}
.bold-separator {
    float: left;
    width: 100%;
    margin: 50px 0;
    position: relative;
}
.bold-separator:before {
    left: 30%;
}
.bold-separator:before,
.bold-separator:after {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    top: 2px;
    opacity: 0.3;
    background-color: rgb(240, 220, 110);
}
.bold-separator span {
    width: 6px;
    height: 8px;
    display: inline-table;
    background: #ffffff;
    margin: 0 auto;
    border-radius: 100%;
}
.bold-separator:after {
    right: 30%;
}
.reservation-info {
    padding: 7rem;
}
.heading-h2 {
    color: burlywood;
    font-family: cursive;
    font-style: italic;
}
.heading-h3:before {
    left: -46px;
}
.heading-h3:before,
.heading-h3:after {
    content: "";
    position: absolute;
    top: 12px;
    background: url(./bef-af.png) no-repeat center;
    width: 26px;
    height: 6px;
}
.heading-h3:after {
    right: -46px;
}
