.header-bg-image {
    background-image: url(./lidye-1Shk_PkNkNw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: fantasy;
}
.container-padding {
    padding: 7rem 0;
}
.timing-bg-img {
    background-image: url(./moritz-mentges-Z40sav8IYqQ-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
